html {
    min-height: 100%;
    position: relative;
  }
  
  footer {
    position: absolute;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0);
    //background-color: rgb(255,228,73);
  }
.grid--container--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 20px;
    margin-top: 50px;
   //background-color: rgb(255,228,73);
    background-color: rgb(254,169,59) ;
  }
  .g--logo--footer{
    grid-column-start: 2;  
    text-align: center;
    margin: auto;
  }
  .g--informaciont--footer{
    grid-column-start: 1; 
    margin: auto;
  }
  .g--iconos--footer{
    grid-column-start: 2;  
    text-align: center;
  }
  .g--buttons--footer{
    grid-column-start: 3; 
    margin: auto;
  }
  .footer-bottom{
    background-color: rgb(254,169,59) ;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}