header {
 // position: absolute;
  top: 0;
  color: rgb(0, 0, 0);
  //background-color: rgb(255,228,73);
}
.grid--container--2 {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  background-color: rgb(254,169,59) ;
  font-size: 20px;
}
.g--informacion{
  grid-column-start: 1; 
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.g--logo{
  grid-column-start: 2;  
  margin: auto;
}
.g--buttons{
  //grid-column-start: 3; 
  //margin: auto;
  //background-color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60%;
 // margin-left: 100%;
  //margin-left: 300px;
}
.login{
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.login:hover{
  color: rgb(78, 78, 78);
  
}
a{
  text-decoration:none;
  color: rgb(0, 0, 0);
 font-weight: bold;
}



.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}